In [3]:
A,B = 2,3
Txt = "@"
print(A*Txt*B)

@@@@@@

In [11]:
A,B = 2,3
Txt = "@"
print(2*Txt*3)

@@@@@@

In [13]:
A,B = "2",3
Txt = "@"
print(A+Txt*3)

2@@@

In [17]:
A,B = "2",3
Txt = "@"
print((A+Txt)*3)

2@2@2@

In [9]:
A,B = 2,3
C = 4
print(A+B*C)

14

In [11]:
A,B = 10,5.0
C = A*B
print(C)

50.0

In [13]:
A,B = 1,2
C = A/B
print(C)

0.5

In [17]:
A,B = 1.5,3
C = A//B
print(C,A/B)

0.0 0.5

In [19]:
A,B = 12,5
C = A//B
print(C)

2

In [21]:
A,B = 12,-5
C = A//B
print(C)

-3

In [23]:
A,B = -12,5
C = A//B
print(C)

-3

In [25]:
A,B = -5,2
C = A%B
print(C)

1

In [27]:
A,B = 5,2
C = A%B
print(C)

1

In [29]:
A,B = 5,-2
C = A%B
print(C)

-1

In [33]:
name = input("name :")

name : Aniket

In [37]:
age = int (input("age :"))

age : 19

In [41]:
prize = float (input("prize :"))

prize : 200000

In [43]:
not True and False or True

True

In [45]:
not False and False or True

True

In [47]:
not False and False

False

In [ ]:
# True and False output --> False
# True or False output --> True

In [49]:
not False or False

True

In [ ]:
-Conditional Statment :-
if(condition):
    statement1
elif(condition):
    statement2
else:
    statement3

In [ ]:
Q:1. Red --> "Stop"
     Green --> "Go"
     Yellow --> "Look"
     Blue/White --> "Light is broken"
Code:-

In [59]:
Light = input("Enter Light Colour :")
if(Light == "Red"):
    print("Stop")
elif(Light == "Green"):
    print("Go")
elif(Light == "Yellow"):
    print("Look")    
else:
    print("Light is broken")

Enter Light Colour : Yellow

Look

In [ ]:
Q:2. Grades of students.
marks >= 90 --> A
marks = 90-100 --> A
marks = 80 - 89 --> B
marks = 70-79 --> C 
other = D
Code:-

In [85]:
marks = int(input("Enter Marks :"))
if(marks >= 90):
    print("A")
elif(marks < 90 and marks >= 80):
    print("B")
elif(marks < 80 and marks >= 70):
    print("C")    
else:
    print("D")

Enter Marks : 98

A

In [ ]:
Q:3. Print output for :
A = 5 & G= M
A = 2 &G= F
Tip : Usinf by not True and False or True [43] output
Code :-

In [93]:
A = int(input("A : "))
G = input ("M/F : ")
if((A == 1 or A == 2) and G == "M"):
    print("fee is 100")
elif(A == 3 or A == 4 or G == "F"):
    print("fee is 200")
elif(A == 5 and G == "M"):
    print("fee is 300")
else:
    print ("no fee")

A :  2
M/F :  F

fee is 200

In [ ]:
In Conditional Statment :- 

1. Single Line if/Ternary Operator :-
Formate-1 :- <var> = <val1> if <condition> else <val2>
Formate-2 :- <sttl> if < condition> else <stt2>

2. Clever if/Ternary Operator :-
Formate :- ‹var> = (false_val,true_val) [<condition>]

In [ ]:
1. Single Line if/Ternary Operator :-

In [99]:
food = input ("food : ")
eat = "Yes" if food == "cake" else "no"
print (eat)

food :  cake

Yes

In [105]:
food = input ("food : ")
print("sweet") if food == "cake" or food == "jalebi" else print("not sweet" )

food :  jalebi

sweet

In [ ]:
2. Clever if/Ternary Operator :-

In [21]:
age = int(input("age : "))
vote = ("yes", "no") [age < 18]
print(vote)

age :  18

yes

In [21]:
sal = float (input ("salary : "))
tax = sal*(0.1, 0.2) [sal>=50000]
print (tax)

salary :  30000

3000.0

In [ ]:
print("Welcome to the Band Name Generator.")
street = input("What's the name of the city you grew up in?")
pet = input("What's your pet name?")
print("Your Band Name could be" + street + " " + pet)

Welcome to the Band Name Generator.

In [39]:
print("Welcome to the Band Name Generator.")
street = input("What's the name of the city you grew up in?")
pet = input("What's your pet name?")
print("Your band name could be",street,pet)

Welcome to the Band Name Generator.

What's the name of the city you grew up in? Pune
What's your pet name? Ajay

Your band name could be Pune Ajay

In [ ]:
Calculate Simple Interest.
    P-Principle
    R-Rate
    T-Time
Formula :- SI=(P*R*T)/100

In [25]:
#In this code we are not understand what can i do
a = float(input("a :") )
b = float (input ("b : "))
c = float (input("c : "))
print (a*b*c/100)

a : 10000
b :  12
c :  2.4

2880.0

In [27]:
#In this code you can atlist predict what can I do in this code.So don't print complicated code.
p = float (input("p : "))
r = float(input("r : "))
t = float(input("t : "))
si = (p*r*t) /100
print(si)

p :  10000
r :  12
t :  2.4

2880.0

In [ ]:
Assignment Operators

In [41]:
num = 10
num -= 10 #or yo can also print num=num+10
print("num:",num)

num: 0

In [43]:
num = 10
num += 10 #or yo can also print num=num+10
print("num:",num)

num: 20

In [ ]:
Type Conversion

In [45]:
#In Python Interpreter automaticlly convert integer into float because float(Jyada Storage hota hai) is superior than integer(small storage capacity)
a = 2
b = 4.25
sum = a + b
print(sum)# 2.0 + 4.25 = 6.25

6.25

In [49]:
a = "2"
b = 4.25
sum = a + b
print(sum)
#in this condition shows error bze.in python float + String not possible but you can manually convert String value into integer by using Type Casting

TypeError: can only concatenate str (not "float") to str

In [ ]:
Type Casting.

In [55]:
a, b = 1, "2"
c = int(b)
sum = a + c
print(sum)

3

In [57]:
type(a)

int

In [ ]:
Q:1. Write a Program(WPA) to input 2 numbers & print their sum.

In [61]:
num1 = int(input("num1 : "))
num2 = int(input("num2 : "))
print(num1+num2)

num1 :  36
num2 :  47

83

In [ ]:
Q:2. WAP to input side of a square & print its area.
Ans:- Area of square = side*side

In [65]:
side = float(input("side: "))
area = side*side
print(area)

side:  30

900.0

In [ ]:
Q:3. WAP to input 2 floating point numbers & print their average.
Ans:- (num1+num2)/2

In [71]:
num1 = float(input("num1 : "))
num2 = float(input("num2 : "))
print("average :",(num1+num2)/2)

num1 :  4
num2 :  3

average : 3.5

In [ ]:
Q:4. WAP to input 2 int numbers, a and b.
Print True if a is greater than or equal to b. If not print False.

In [109]:
#Using if-else
a = int(input("a : "))
b = int(input("b : "))
if(a>=b):
    print("True")
else:
    print("False")

a :  17
b :  18

False

In [111]:
#Using Clever if/Ternary operator
a = int(input("a : "))
b = int(input("b : "))
TandF=("False","True")[a>=b]
print(TandF)

a :  17
b :  18

False

In [113]:
#simple
a = int(input("a : "))
b = int(input("b : "))
print(a>=b)

a :  17
b :  18

False

In [115]:
#Single line/Ternary operator
a = int(input("a : "))
b = int(input("b : "))
TandF=("True" if(a>=b) else "False")
print(TandF)

a :  17
b :  18

False

In [117]:
#Single line/Ternary operator but second format.
a = int(input("a : "))
b = int(input("b : "))
print("True" if(a>=b) else "False")

a :  17
b :  18

False